<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue.js App</title>
    <style type="text/css">
        .color-blue {color:green;}
        .color-orange {color:indigo;}
        .color-red {color:red;}
        .is-loading { background: indianred;}    
    </style>
    <!-- CDN of Bluma UI design link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>    
    <!-- Assigning vue element to div -->
    <div id="root" class="container">  
    <div class="nav-bar"></div>
    <hr></hr>

    <top></top>
    <!-- E-commerce Website -->
    <hr></hr>
    
    <div class="product">
        <div class="product-image">
            <img v-bind:src="image">
        </div>

        <div class="product-info">
            <h1>{{title}}</h1>
            <hr></hr>
            <a :href="link" target="_blank">href tab in vue.js</a>
            <p v-if="inStock">In Stock</p>
            <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
            <li v-for="detail in details">{{detail}}</li>
            <hr></hr>

            <div v-for="(variant, index) in variants" 
                :key="variant.variantId"
                class="color-box"
                :style="{ backgroundColor: variant.variantColor }"
                @mouseover="updateProduct(index)">
                
            </div>

            <button v-on:click="addToCart"
            :disabled="!inStock"
            :class="{ disabledButton: !inStock }">
            Add to Cart
            </button>
            
            <button v-on:click="removeFromCart"
            :disabled="!inCart"
            :class="{ disabledButton: !inCart }"
            >
            Remove Item
            </button>

            <div class="cart">
                <p>Cart({{cart}})</p>
            </div>

        </div>

        
    </div>

    <hr></hr>
    <!-- End of E-commerce Website -->
    <forms></forms>

    <hr></hr>

    <message title="Hello World" body="Lorem ipsum dolar sit amet">

    </message>

    <hr></hr>

    <modal v-show="showModal" @close="showModal = false">
    <p> We Insert any text here:</p>
    </modal>

    <button @click="showModal = true">show Modal</button>

    <model v-show="showModel" @close="showModel = false">
    <template slot="header">My title</template>
    Content from index.HTML 
    <template slot="footer">
    <button class="button is-success">Save changes</button>
    <button class="button" @click="showModel = false">Cancel</button>
    </template>
    </model> 

    <button @click="showModel = true">Controlling Model</button>

    <hr></hr>

    <h1>Sample Single-use Component:</h1>
    <progress-view inline-template>
    <div>  
    <h1> Your Progress in vue.js course: {{ completionRate }}% </h1>
    <p><button @click="completionRate +=10">Increase Completion Rate.</button></p>
    </div>
    </progress-view>



    <hr></hr>
    <tabs>
    <tab name="About me" :selected="true">
    <h1>Here is the content for About us</h1>
    </tab>
    <tab name="About my goal">
    <h1>Here is the content for About my goal</h1>
    </tab>
    <tab name="About my vision">
    <h1>Here is the content for About my vision</h1>
    </tab>
    </tabs>

    <hr></hr>

    <h1> Coupon Applied by using coponent communication:</h1>

    <coupon @applied="onCouponApplied"></coupon>

    <h1 v-if="couponApplied"> You used a coupon!</h1>

    <hr></hr>

    <databinding></databinding>

    <hr></hr>

    <array></array>

    <hr></hr>

    <buttons></buttons>

    <hr></hr>

    <datecomputed></datecomputed>

    <hr></hr>

    <logictasks></logictasks>

    <hr></hr>

    <h1>
    Components
    </h1>
    <task>Sandeep</task>

    </div>

    
    <!-- Always CDN above the new vue Instance -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script src="main.js"></script>
</body>
</html>